@font-face {
  font-family: 'lifecraftregular';
  src: url("lifecraft_font.ttf");
  font-weight: normal;
  font-style: normal; }
li {
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box; }
  li a {
    text-decoration: none;
    color: white;
    font-size: 26px; }
    li a:hover {
      color: #d30000;
      transition: color 0.3s ease; }
  li button {
    border: none;
    outline: none;
    background: black;
    color: white; }
    li button p {
      font-style: "Titillium web", sans-serif;
      font-size: 26px; }

#header_image {
  padding: 13px;
  box-sizing: border-box; }

#header {
  margin-top: -85px;
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-wrap: wrap; }
  #header nav {
    margin-top: 20px;
    display: block; }

a, p {
  font-family: "Titillium web", sans-serif; }

h1, h2 {
  font-family: "lifecraftregular"; }

#description {
  margin: 0 auto;
  width: 50%; }
  #description p {
    font-size: 26px;
    text-align: center;
    font-weight: bold; }
    #description p span {
      color: #d30000; }
  #description h1 {
    margin-top: 20px; }

.fluid-container {
  margin-top: 85px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }
  .fluid-container img {
    width: 100%; }

#intro {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center; }

.container4 {
  width: 33%; }
  .container4 p {
    font-size: 23px; }
  .container4 a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 29px; }

#slideshow-container {
  margin-top: 40px;
  max-width: 1000px;
  position: relative;
  margin: auto; }
  #slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }
  #slideshow-container .mySlides .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0; }
  #slideshow-container .mySlides .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center; }
  #slideshow-container .mySlides img {
    width: 100%; }
  #slideshow-container .prev, #slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }
    #slideshow-container .prev:hover, #slideshow-container .next:hover {
      background-color: rgba(0, 0, 0, 0.8); }
  #slideshow-container .next {
    right: 0; }

#align {
  text-align: center; }
  #align .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
    #align .dot:hover {
      background-color: #717171; }

footer {
  background-color: black;
  margin-top: 50px;
  padding: 50px 60px 40px;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden; }
  footer #footer-left {
    float: left; }
    footer #footer-left a {
      font-size: 20px;
      color: white;
      text-decoration: none; }
      footer #footer-left a:hover {
        color: #d30000;
        transition: color 0.3s ease; }
    footer #footer-left p {
      margin-top: 6px;
      color: white;
      font-size: 15px; }
    footer #footer-left #social-icons {
      margin-top: 110px; }
      footer #footer-left #social-icons a {
        font-size: 35px; }
        footer #footer-left #social-icons a:hover {
          color: white;
          transition: none; }
        footer #footer-left #social-icons a:not(:first-child) {
          margin-left: 20px; }
      footer #footer-left #social-icons .fa-facebook:hover {
        color: #3b5998;
        transition: color 0.3s ease; }
      footer #footer-left #social-icons .fa-twitter:hover {
        color: #00aced;
        transition: color 0.3s ease; }
      footer #footer-left #social-icons .fa-twitch:hover {
        color: #6441a5;
        transition: color 0.3s ease; }
      footer #footer-left #social-icons .fa-youtube:hover {
        color: #d13d3d;
        transition: color 0.3s ease; }
      footer #footer-left #social-icons .fa-instagram:hover {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        border-radius: 10px; }
  footer #footer-right {
    float: right; }
    footer #footer-right form {
      display: inline-block; }
      footer #footer-right form input, footer #footer-right form textarea {
        height: 55px;
        margin-bottom: 15px;
        display: block;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: #1f2022;
        border: none;
        font-size: 14px;
        color: #d1d2d2;
        width: 360px;
        padding: 18px;
        font-family: "Titillium web", sans-serif;
        overflow: hidden; }
      footer #footer-right form textarea {
        height: 100px;
        resize: none; }
      footer #footer-right form button {
        cursor: pointer;
        margin-top: 30px;
        font-family: "Titillium web", sans-serif;
        background-color: #33383b;
        color: #ffffff;
        border: none;
        padding: 15px 50px;
        font-weight: bold;
        border-radius: 5px; }
    footer #footer-right p {
      color: white;
      margin-bottom: 20px; }
  footer #scroll-top {
    margin-left: auto;
    width: 5%;
    font-size: 25px; }
    footer #scroll-top a {
      color: white; }
      footer #scroll-top a:hover {
        color: #d30000;
        transition: color 0.3s ease; }

textarea {
  resize: none; }

#bars {
  display: none; }
  #bars i {
    font-size: 25px; }

#about {
  margin: 85px auto; }
  #about #img {
    text-align: center;
    width: 50%;
    margin: 50px auto; }
    #about #img img {
      margin-bottom: 50px; }
    #about #img p {
      font-size: 24px; }

#terms {
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin: 85px auto; }

#signin {
  margin: 0 auto;
  width: 80%;
  text-align: center; }
  #signin fieldset {
    border: 0; }
  #signin form {
    display: inline-block;
    width: 35%; }
    #signin form input {
      height: 55px;
      display: block;
      border-radius: 5px;
      box-sizing: border-box;
      background-color: #33383b;
      border: none;
      font-size: 14px;
      color: #d1d2d2;
      width: 100%;
      padding: 18px;
      font-family: "Titillium web", sans-serif;
      overflow: hidden; }
    #signin form .buttom {
      cursor: pointer;
      margin-top: 30px;
      font-family: "Titillium web", sans-serif;
      background-color: #33383b;
      color: #ffffff;
      border: none;
      padding: 15px 50px;
      font-weight: bold;
      border-radius: 5px; }
  #signin p {
    margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
