@import url(main.css);


*{
    padding:0px;
    margin:0px;
}

#wrap{
    height: 100%;
    width:100%;
}

body{
    background-color:rgb(216, 216, 216);
}


h1
{
    font-size:50px;
    color:rgb(255, 123, 0);
    text-align: center;
}

h2
{
    font-family:'Titillium Web', sans-serif;
    font-size:36px;
    text-align: center;
    color:black;
    line-height: 40px;
}


#text{
    width:40%;
    margin:20px auto 0px auto;
}

.clearfix{
    clear:both;
}


/* Medias */


@media screen and (max-width: 808px){
    #header nav{
    display:none;
    }

   #intro .container4{
       text-align:center;
        display:block;
        width:100%;
        margin-bottom:40px;

    }

    h1{
        font-size:26px;
    }
    #description p{
        font-size:15px;
    }

    #footer-left{
        float:none;
        display:block;
        width:100%;
    }

    #footer-right{
        display:block;
        float:none;
        margin:0 auto;
        width:250px;
        width:100%;
    }
    }
    

    /* Carousel, for some reason won't work properly in sass*/

* {box-sizing:border-box}

.mySlides {
    display: none;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* End of Carousel*/
