@font-face {
    font-family: 'lifecraftregular';
    src: url('lifecraft_font.ttf');
    font-weight: normal;
    font-style: normal;
}



$main-color-bg: rgb(216, 216, 216);
$primary-color-letter:rgb(206, 91, 14);
$nav-color:rgb(211,0,0);
$secondary-color-letter: black;
$main-font: 'Titillium web', sans-serif;
$wow-font:'lifecraftregular';


    li{
        display:inline-block;
        padding-left:20px;
        box-sizing: border-box;
            a{
                text-decoration: none;
                color:white;
                font-size:26px;
                

                &:hover {
                    color: $nav-color;
                    transition: color 0.3s ease;
                 }
            }

            button{
                border:none;
                outline:none;
                background:black;
                color:white;
              p{
                font-style: $main-font;
                font-size:26px;
              }

            }
    }

    #header_image{
        padding:13px;
        box-sizing: border-box;
       }

#header{
     margin-top:-85px;
     background-color:black;
     width:100%;
     position:fixed;
     z-index:1;
     display:flex;
     flex-wrap:wrap;
     nav{
        margin-top:20px;
        display:block;
    }
  }       

a,p{
    font-family: $main-font;
}

h1,h2{
    font-family:$wow-font;
}

#description{
    margin:0 auto;
    width:50%;
    p{
        font-size:26px;
        text-align:center;
        font-weight: bold;
        span{
            color:$nav-color;
        }
    }
    h1{
        margin-top:20px;
    }
}



.fluid-container{
    margin-top:85px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
img{
    width:100%;
}

}


#intro{
    margin-top:40px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    text-align:center;
}

.container4{
    width:33%;
 p{
    font-size:23px;
}

a{
    text-decoration:none;
    color:black;
    font-weight: bolder;
    font-size:29px;
}
}

#slideshow-container{
    margin-top:40px;
    max-width: 1000px;
    position: relative;
    margin: auto;

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

    .mySlides{

        .numbertext{
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        .text{
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
            }
        img{
            width:100%;
        }
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

    &:hover{
        background-color: rgba(0,0,0,0.8);
      }
  }
  .next {
    right: 0;
  }

}


#align{
    text-align: center;
    .dot{
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &:hover {
            background-color: #717171;
          }
    }
}


footer{
    background-color: rgb(0, 0, 0);
    margin-top:50px;
    padding: 50px 60px 40px;
    text-align: left;
    box-sizing:border-box;
    overflow: hidden;

    #footer-left{
     float:left;

     a{
         font-size:20px;
         color:white;
         text-decoration: none;
         &:hover{
           color: $nav-color;
                transition: color 0.3s ease;
        }
     }

     p{
         margin-top:6px;
         color:white;
         font-size:15px;
     }

     #social-icons{
          margin-top:110px;
               a{
                font-size:35px;

                &:hover{
                    color:white;
                    transition:none;
                }
                    
                 &:not(:first-child){
                        margin-left:20px;
                 }
                }

                .fa-facebook{
                    &:hover{
                        color:rgb(71, 71, 250);
                        transition: color 0.3s ease;
                    }
                }

                .fa-twitter{
                    &:hover{
                        color:rgb(19, 19, 250);
                        transition: color 0.3s ease;
                    }
                }
                    .fa-twitch{
                        &:hover{
                            color:rgb(108, 0, 250);
                            transition: color 0.3s ease;
                        }
                     }

                     .fa-youtube{
                        &:hover{
                            color:rgb(202, 0, 0);
                            transition: color 0.3s ease;
                        }
                }

                .fa-instagram{
                    &:hover{
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                        border-radius:10px;
                    }
            }
             }
    }


    #footer-right{
        float:right;

        form{
            display:inline-block;

            input,textarea{
                height:55px;
                margin-bottom:15px;
                display: block;
                border-radius: 5px;
                box-sizing: border-box;
                background-color: #1f2022;
                border: none;
                font-size: 14px;
                color: #d1d2d2;
                width:360px;
                padding: 18px;
                font-family: $main-font;
                overflow:hidden;
            }

            textarea{
                height:100px;
                resize: none;
            }

            button{
                cursor:pointer;
                margin-top:30px;
                font-family: $main-font;
                background-color: #33383b;
                color: #ffffff;
                border: none;
                padding: 15px 50px;
                font-weight: bold;
                border-radius:5px;
               
            }

        }

        
        p{
            color:white;
            margin-bottom:20px;
        }
    }

    #scroll-top{
        margin-left:auto;
        width:5%;
        font-size:25px;

        a{
            color:white;

            &:hover{
              color: $nav-color;
                    transition: color 0.3s ease;
            }
        }
    }
}


textarea {
    resize: none;
}


#bars{
    display:none;
    i{
        font-size:25px;
    }
}

#about{
    margin:85px auto;

    #img{
        text-align: center;
        width:50%;
        margin:50px auto;
        img{
            margin-bottom:50px;
        }

        p{
            font-size:24px;
        }
    }
}

#terms{
    text-align:center;
    font-size:20px;
    width:80%;
    margin:85 auto;
}


#signin{
    margin:0 auto;
    width:80%;
    text-align:center;

    fieldset{
        border:0;
    }
    form{
        display:inline-block;
        width:35%;

        input{
            height:55px;
            display: block;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: #33383b;
            border: none;
            font-size: 14px;
            color: #d1d2d2;
            width:100%;
            padding: 18px;
            font-family: $main-font;
            overflow:hidden;
        }
        .buttom{
            cursor:pointer;
            margin-top:30px;
            font-family: $main-font;
            background-color: #33383b;
            color: #ffffff;
            border: none;
            padding: 15px 50px;
            font-weight: bold;
            border-radius:5px;
           
        }

    }

    
    p{
        margin-bottom:20px;
    }
}